body {
  margin-top: 50px;
}
.count-nav,
.clock, .message {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.message {
  background-color: rgba(224, 50, 56, 0.5);
  position: relative;
  top: -385px;
  display: none;
}
.show {
  display: block;
}
.message p {
  padding: 50px 0;
  font-size: 32px;
}
.count-nav button {
  height: 100px;
  width: 250px;
  font-size: 48px;
  background-color: transparent;
  box-shadow: 1px 1px 2px 2px #c3c3c3;
  margin: 0 5%;
}
.clock {
  margin-top: 50px;
}
.clock .border {
  position: relative;
  height: 400px;
  width: 400px;
  background-image: url('../images/clock-border.png');
  background-size: 100% 100%;
  margin-left: 150px;
}
.clock .min {
  position: absolute;
  height: 106px;
  width: 6px;
  background-image: url('../images/clock-min.png');
  left: 49.5%;
  top: 23.7%;
  z-index: 2;
  animation-duration: 3600s;
  transform-origin: 50% 100%;
  animation-play-state: paused;
}
.clock .sec {
  position: absolute;
  height: 188px;
  width: 22px;
  background-image: url('../images/clock-sec.png');
  left: 47.5%;
  top: 16.6%;
  z-index: 3;
  animation-duration: 60s;
  transform-origin: 50% 71.5%;
  animation-play-state: paused;
}
.clock .animate {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.clock .run {
  animation-play-state: running;
}
.clock .reset-time {
  transform: rotate(0deg);
}
@keyframes move {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}
footer p {
  position: fixed;
  right: 1px;
  bottom: 1px;
}
